.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background-color: #bcc9cd;
  padding: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}


.image-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  overflow: auto;
  max-height: 1000px;
}

.image-item {
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  img {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

/* Custom Styles */

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 400px;
}

.input-container label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.input-container input:focus {
  outline: none;
  border-color: #61dafb;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-container button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #b51c4c;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #a13763;
}


.file-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.file-container .file-item {
  margin: 10px;
  text-align: center;
}

.file-container .file-item img {
  width: 200px;
  margin-bottom: 10px;
}

.file-container .file-item a {
  text-decoration: none;
  color: #61dafb;
}

.file-container .file-item a:hover {
  text-decoration: underline;
}
